<div class="text-center" style="width: 100%; height:1px; display: table-row;">
    <div style="display: table-cell; width: 100%; height: 1px; padding: 10px;">
        <h2 class="webvis-heading">WebVis <small id="webvis-version-text" style="text-muted">0.0.0</small></h2>
    </div>
</div>
<div style="width: 100%; height: 1px; display: table-row;">
    <div style="display: table-cell; padding-bottom: 10px">
        <button id="manual-open-btn" class="btn btn-primary" style="width:100%;margin-bottom:10px">
            <form onsubmit='return false'>
                Open
                <input style='display:none;' type='file' />
            </form>
        </button>
    </div>
</div>
<div id="tabmenu" class="webvis-padding-size fill-height" style="margin-bottom:0px; display: table-row;">
    <div class="well" style="display:table-cell">
        <div style="display:table; table-layout: fixed; width: 100%;height: 100%;">
            <ul id="tabs" class="nav nav-tabs active" style="display:table-row;padding-bottom: 10px;" heading="Alerts">
                <li class="active"><a>Debug</a></li>
                <li><a>Options</a></li>
            </ul>
            <div id="tab-bind-point" style="display:table-row; height: 100%;" class="fill-height"></div>
        </div>
    </div>
</div>
