<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="display:inline; padding-top:10px;padding-bottom:10px;">
    <h2 class="webvis-heading">
        WebVis
        <small id="webvis-version-text" style="text-muted">0.0.0</small>
    </h2>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
    <button id="manual-open-btn" class="btn btn-primary" style="width:100%;margin-bottom:10px">
        <form onsubmit='return false'>
            Open
            <input style='display:none;' type='file' />
        </form>
    </button>
</div>
<div id="tabmenu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well webvis-padding-size fill-height" style="margin-bottom:0px;">
    <div class="webvis-container">
        <ul id="tabs" class="nav nav-tabs active" heading="Alerts">
            <li class="active"><a>Alerts</a></li>
            <li><a>Debug</a></li>
            <li><a>Options</a></li>
        </ul>
        <div id="tab-bind-point" class="fill-height"></div>
    </div>
</div>
