<li class="debug-tree-elem">
    <div class="debug-tree-elem-container">
        <div style="width:20px; height: 14px; float: left">
            <span class="debug-tree-subtree glyphicon glyphicon-triangle-right"></span>
        </div>
        <table class="fill-width">
            <tbody>
                <tr>
                    <td class="debug-tree-elem-name"></td>
                    <td class="debug-tree-elem-value"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="debug-tree"></ul>
</li>
